.about {
  text-align: center;
  background-image: url(/faded-office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.about__description {
  line-height: $larger-line-height;
  color: $white;
  margin-bottom: 40px;
}

.about__button {
  font-size: 22px;
  font-weight: bold;

  @media #{$md} {
    font-size: 18px;
    font-weight: normal;
  }
}
