.info-block {
  [class^="col-"] {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: $section-padding / 2;
    padding-bottom: $section-padding / 2;

    @media #{$sm} {
      padding-top: $section-padding;
      padding-bottom: $section-padding;
    }

    @media #{$md} {
      padding-top: 110px;
      padding-bottom: 110px;
    }
  }

  &:nth-child(odd) {
    background-color: $light-gray;

    [class^="col-"]:first-child .info-block__container {
      margin-left: auto;
    }

    [class^="col-"]:last-child .info-block__container {
      margin-right: auto;
    }

    .info-block__text-container {
      @media #{$sm} {
        padding-right: 25px;
      }

      @media #{$md} {
        padding-right: 50px;
      }
    }
  }

  &:nth-child(even) {
    [class^="col-"]:first-child .info-block__container {
      margin-right: auto;
    }

    [class^="col-"]:last-child .info-block__container {
      margin-left: auto;
    }

    .info-block__text-container {
      @media #{$sm} {
        padding-left: 25px;
      }

      @media #{$md} {
        padding-left: 50px;
      }
    }
  }
}

// Extra specificity to override ".info-block:nth-child(odd)" styles
.info-block--header.info-block--header {
  background-color: $white;

  [class^="col-"]:last-child {
    padding-bottom: $section-padding / 2;

    @media #{$md} {
      padding-bottom: 80px;
    }

    .info-block__text-container {
      padding-right: 0;

      @media #{$lg} {
        padding-left: 50px;
      }
    }
  }

  h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
    padding-top: $section-padding / 1.5;

    @media #{$md} {
      font-size: 36px;
      text-align: left;
      padding-top: 110px;
    }
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
}

.info-block__flex-row {
  @media #{$sm} {
    display: flex;
  }
}

.info-block__container {
  @media #{$sm} {
    width: ($container-tablet - $grid-gutter-width) / $grid-columns * 6;
  }

  @media #{$md} {
    width: ($container-desktop - $grid-gutter-width) / $grid-columns * 6;
  }

  @media #{$lg} {
    width: ($container-large-desktop - $grid-gutter-width) / $grid-columns * 6;
  }
}

.info-block__list {
  font-size: 20px;
  color: $white;
  margin-left: 50px;
  padding-bottom: $section-padding / 2;

  li {
    margin-bottom: 10px;

    .fa {
      left: -50px;
      color: $blue;
      margin-top: 2px;
      width: auto;
    }
  }

  @media #{$md} {
    font-size: 24px;
    padding-bottom: 60px;
  }
}

.info-block__form {
  margin-bottom: 30px;

  .form-control {
    background-color: $light-gray;
  }
}

.info-block__text {
  line-height: $larger-line-height;
}

.info-block__icon {
  text-align: center;
  transform: scale(.8);

  @media #{$sm} {
    margin-top: 30px;
    transform: scale(1);
  }
}
