.off-canvas-menu {
  width: 100%;
  box-shadow: 0 2px 15px rgba($black, .8);

  @media #{$sm} {
    width: $navmenu-width;
  }
}

.off-canvas-menu__close-button {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 42px;
  font-weight: 300;
  color: $white;
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: none;
  outline: none;
}

.off-canvas-menu__container {
  margin-top: 30px;
  margin-left: 80px;
  width: calc(100% - 120px);

  @media #{$sm} {
    width: 280px;
  }
}

.off-canvas-menu__nav {
  margin-bottom: 25px;
}

.off-canvas-menu__logo {
  background-image: url(/appsmart-logo.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 116px auto;
  width: 116px;
  height: 23px;
}

// Extra specificity to override Jasny Bootstrap's ".nav>li>a" styles
.off-canvas-menu__link.off-canvas-menu__link {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  border-bottom: 1px solid $blue;

  &:after {
    position: absolute;
    top: 20px;
    right: 0;
    font-family: "FontAwesome";
    font-size: 22px;
    content: $fa-var-angle-right;
  }
}

.off-canvas-menu__button {
  width: 100%;
  margin-bottom: 15px;
}

.off-canvas-menu__copyright-notice {
  font-size: 14px;
  color: lighten($gray, 10%);
}

.off-canvas-menu__email-link {
  margin-bottom: 30px;

  a {
    color: $white;

    &:hover {
      text-decoration: none;
      color: $white;
    }

    &:before {
      font-family: "FontAwesome";
      content: $fa-var-envelope;
      margin-right: 10px;
    }
  }
}

.off-canvas-menu__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($black, .6);
  z-index: $zindex-navbar-fixed;
}
