.solo-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.solo-section--extra-padding {
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  @media #{$sm} {
    padding-top: $section-padding * 2;
    padding-bottom: $section-padding * 2;
  }
}

.solo-section__heading {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media #{$sm} {
    font-size: 36px;
  }
}

.solo-section__subheading {
  font-size: 24px;
  color: $white;
  margin-bottom: 30px;

  @media #{$sm} {
    font-size: 32px;
  }
}

.solo-section__text {
  font-size: 20px;
  color: $white;

  @media #{$sm} {
    font-size: 24px;
  }
}

.solo-section__text--emphasized {
  font-style: italic;
  margin-bottom: 20px;
}

.solo-section__form {
  margin-top: 30px;
  margin-bottom: 30px;
}
