.btn-default,
.btn-primary {
  font-size: 18px;
  text-transform: uppercase;
  padding: 14.5px 35px;
  width: 100%;

  @media #{$sm} {
    width: auto;
  }
}

.btn-default:hover {
  border-color: $dark-blue;
}

.btn-primary:hover {
  background-color: $dark-blue;
  border-color: $dark-blue;
}

.btn--wide {
  padding-left: 60px;
  padding-right: 60px;
}

.btn--wider {
  @media #{$sm} {
    padding-left: 110px;
    padding-right: 110px;
  }
}
