// Colors

$black: #000;
$white: #fff;
$gray: #545454;
$light-gray: #ededed;
$dark-gray: #1f2326;
$blue: #33aacc;
$dark-blue: #2377bd;

// Measurements

$section-padding: 75px;
$larger-line-height: 1.7;

// Responsive breakpoints

$xs: "only screen and (min-width: #{$screen-xs})"; // 480px
$sm: "only screen and (min-width: #{$screen-sm})"; // 768px
$md: "only screen and (min-width: #{$screen-md})"; // 992px
$lg: "only screen and (min-width: #{$screen-lg})"; // 1200px
